/*All pages*/
button{
	font-family:"Permanent Marker", cursive;
	font-weight:bold;
	text-transform:uppercase;
	border-radius:0.75rem;
	font-size:1.875rem;	
	display:inline-block;
	cursor:pointer;
	text-align:center;
}
.SML{
	margin-top:0px;
	margin-left:1400px;
	position:absolute;
	top:20px;
	right:20px;
	display:flex;
}
.SM{
	height:3.125rem;
	width:3.125rem;
	margin-top:0px;
	margin:0.625rem;
}
.instagram{
	background-color:#E1306C;
}
.instagram:hover {
	background-color:#FD1D1D;
}
.threads{
	background-color:black;
}
.threads:hover, .twitter:hover{
	background-color:White;
}
.twitter{
	background-color:Blue;
}
.gmail{
	background-color:Red;
}
.gmail:hover {
	background-color:blue;
}
.TPS{
	background-color:grey;
}
.TPS:hover{
	background-color:yellow;
}
.donate{
	font-size:1.25rem;
}



/*All pages but index and country pages*/
.back{
background-color:grey;
	color:yellow;
}
.back:hover{
	background-color:yellow;
	color:grey;
}

/*Index*/
.USA{
background-color: blue;
color: white;
}
.USA:hover{
background-color:red;
color: white;
}

/*USA*/
.NewYears{
	background-color:gold;
	color:white;
}
.NewYears:hover{
	background-color:white;
	color:gold;
}
.MartinLutherKing{
background-color:black;
	color:white;
}
.MartinLutherKing:hover{
	background-color:white;
	color:black;
}
.ValentinesDay{
    background-color:pink;
    color:red;
}
.ValentinesDay:hover{
	background-color:red;
	color:pink;
}
.PresidentsDay{ /*USA Colors */
background-color:blue;
color:white;
}
.PresidentsDay:hover{
background-color:red;
color:white;
}
.SaintPatricksDay{
background-color:darkgreen;
color:green;
}
.SaintPatricksDay:hover{
background-color:green;
color:darkgreen;
}
.Easter{
background-color:white;
color:gold;
}
.Easter:hover{
background-color:gold;
color:white;
}
.SolarEclipse{
background-color:yellow;
color:black;
}
.SolarEclipse:hover{
background-color:black;
color:yellow;
}
.Juneteenth{
background-color:red;
color:black;
}
.Juneteenth:hover{
background-color:black;
color:red;
}
.LaborDay{
background-color:white;
color:blue;
}
.LaborDay:hover{
background-color:blue;
color:white;
}
.ColumbusDay{
background-color:navy;
color:white;
}
.ColumbusDay:hover{
background-color:white;
color:navy;
}
.Halloween{
background-color:orange;
color:black;
}
.Halloween:hover{
background-color:black;
color:orange;
}
.Thanksgiving{
background-color:brown;
color:orange;
}
.Thanksgiving:hover{
background-color:orange;
color:brown;
}
.Hanukkah{
background-color:gold;
color:silver;
}
.Hanukkah:hover{
background-color:silver;
color:gold;
}
.Christmas{
background-color:green;
color:red;
}
.Christmas:hover{
background-color:red;
color:green;
}
.GroundhogDay{
background-color:#A0522D;
color:brown;
}
.GroundhogDay:hover{
background-color:brown;
color:#A0522D;
}
.TaxDay{
background-color:Red;
color:#c90000;
}
.TaxDay:hover{
background-color:#c90000;
color:red;
}
.SuperBowlSunday{
background-color:orange;
color:lightskyblue;
}
.SuperBowlSunday:hover{
background-color:skyblue;
color:orange;
}
.GoodFriday{
background-color:violet;
color:red;
}
.GoodFriday:hover{
background-color:red;
color:violet;
}
.USArmy{
background-color:black;
color:Gold;
}
.USArmy:hover{
background-color:Gold;
color:black;
}
.USMarineCorps{
background-color:#ff2400;
color:Gold;
}
.USMarineCorps:hover{
background-color:Gold;
color:#ff2400;
}
.USAirForce{
background-color:White;
color:blue;
}
.USAirForce:hover{
background-color:blue;
color:white;
}
.USSpaceForce{
background-color:rgb(185,197,214);
color:black;
}
.USSpaceForce:hover{
background-color:black;
color:rgb(185,197,214);
}
.USNavy{
background-color:#022a3a;
color:white;
}
.USNavy:hover{
background-color:white;
color:#022a3a;
}
.USCoastGuard{
background-color:#006BA6;
color:#E03C31;
}
.USCoastGuard:hover{
background-color:#E03C31;
color:#006BA6;
}
.AdministrativeAppreciationDay{
background-color:gold;
color:silver;
}
.AdministrativeAppreciationDay:hover{
background-color:Silver;
color:Gold;
}
.BlackFriday{
background-color:black;
color:#E42024;
}
.BlackFriday:hover{
background-color:#E42024;
color:black;
}
.WorldSeries{
background-color:blue;
color:white;
}
.WorldSeries:hover{
background-color:blue;
color:red;
}
.PalmSunday{
background-color:purple;
color:green;
}
.PalmSunday:hover{
background-color:green;
color:purple;
}
.AllStarBaseball{
background-color:navy;
color:royalblue;
}
.AllStarBaseball:hover{
background-color:royalblue;
color:navy;
}
.Epiphany{
background-color:white;
color:gold;
}
.Epiphany:hover{
background-color:gold;
color:white;
}
.AllSaintsDay{
background-color:gold;
color:white;
}
.AllSaintsDay:hover{
background-color:white;
color:gold;
}
.MLBWildCard{
background-color:navy;
color:silver;
}
.MLBWildCard:hover{
background-color:silver;
color:navy;
}
.CyberMonday{
background-color:black;
color:#05ffff;
}
.CyberMonday:hover{
background-color:black;
color:#2f05ff;
}