p{
  	text-align:center;
	margin:0px;
}
body{
  	background-color:grey;
}
img{
  	height:300px;
  	Width:300px;
  	border:5px solid black;
}
button{
	font-family:'Permanent Marker',cursive;
	font-weight:bold;
	text-transform:uppercase;
	border-radius:12px;
	font-size:30px;	
	display:inline-block;
	cursor:pointer;
	text-align:center;
}
.donate{
	font-size:20px;
}
.E1{
	font-size:100px;
}
.E2{
	font-size:50px;
}
.E3{
	font-size:25px;
}
.Countdown{
  	font-size:60px;
}