body{
  	background-color:grey;
}
p{
  	text-align:center;
	font-size:3.75rem;
	margin:0px;
}
img{
  	height:18.75rem;
  	Width:18.75rem;
  	border:5px solid black;
	margin-top: 0px;
}
.E1{
	font-size:6.25rem;
}
.E2{
	font-size:3.125rem;
}
.E3{
	font-size:1.563rem;;
}
.Countdown{
  	font-size:3.75rem;
}