p{
  	text-align:center;
  	font-size:60px;
  	margin-top:0px;
}
body{
	background-color:black;
	color:white;
}
img{
	height:300px;
	Width:300px;
	border:5px solid white;
}
button{
	font-family:'Permanent Marker',cursive;
	font-weight:bold;
	text-transform:uppercase;
	border-radius:12px;
	font-size:20px;
	display:inline-block;
	cursor:pointer;
	text-align:center;
	border-color:white;
}