body,img, button{
background-color:red;
color:blue;
border-color:black;
}
p{
border:5px solid;
border-color:black;
}

.SMBND{
background-color:red;
color:blue;
}
.SMBND:hover{
background-color:blue;
color:red;
}